form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }




  .mat-button-wrapper {
    //display: flex;
    //justify-content: space-between;
    width: 100%;
    margin-top: 20px; /* ajusta la separación superior según tus necesidades */
   // float: left;
  }
  
  .mat-button-wrapper button {
    width: 100%; 
   
   
  }
